$primary-color:#F53838;
$text-color: rgba(79, 86, 101, 1);

@mixin flex__justi-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin container {
    margin:0 150px;
}
@mixin title {
    font-size: 35px;
    text-align: center;
    width: 383.41px;
    margin-left: auto;
    margin-right: auto;
}
@mixin description {
    display: block;
    margin:20px auto 60px;
    text-align: center;
    width: 500px;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
}
